.content{
    display: grid;
    grid-template-columns: 10% 90%;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.container{
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
}
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
   
    background: #124d5b;
    color: #fff;
    height: 100vh;
    transition: all 0.4s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#277082;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #277082;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color:#277082;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
   
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
   
}

.sub-con{
    display: grid;
    grid-template-columns: 1fr 1fr
    
}
#navbar{
    background: #124d5b;    
    color: white;
}

#content{
margin: 1em auto;
   
}

#mainContent{
    display:grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}
.container{
    padding-top: 1em;
}
#godown{
    height: 65px;
 }

.actions{
     display: grid;
     grid-template-columns: 40px 50px 100px;
 } 

 #bjs_logo{
    position: absolute;
    top: 1em;
    left: 1em;
 }
 .adjust-margin { margin-left: 1em; }